* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --color-p: #777;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        width: 550px; 
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .container {
        width: 1170px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .container {
        width: 1370px;
    }
}
/* start component */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: black;
    bottom: -30px;
    width: 120px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: -38px;
    background-color: white;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--color-p);
}
/* end component */
/* start header */
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
header nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }  
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #00000057;
    }
    header nav ul a {
        padding: 15px !important;
    }
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* end header */
/* start landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../Image/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 55%);    
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {    
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;

}
.landing .text .content p {   
    line-height: 2;
    font-size: 14px;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }  
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }

}
.services .serv-box {
    display: flex;
}
.services .serv-box i {
    margin-right: 50px;
}
@media (max-width: 767px) {
    .services .serv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .serv-box i {
        margin: 0 0 30px;
    }
}
.services .serv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .serv-box p {
    line-height: 2;
    color: var(--color-p);
}
/* end services  */
/* start design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../Image/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 55%);
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
}
@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;
}
.design .text {
    color: wheat;
    background-color: var(--transparent-color);
    padding: 50px;
}
.design .text h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design */
/* start portofolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .shuffle .active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .image-container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .image-container .box:hover .caption {
    bottom: 0;
} 
.portfolio .image-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
} 
@media (min-width: 768px) {
    .portfolio .image-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .image-container .box {
        flex-basis: 25%;
    }
}
.portfolio .image-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .image-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .image-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .image-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    margin: 30px auto;
    width: fit-content;
    text-transform: uppercase;
}
/* end portofolio */
/* start video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video video {
    width: 100%;
}
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    padding: 50px;
    text-align: center;
    color: white;
}
.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.video .text p {
    margin: 0 0 30px;
}
.video .text button {
    padding: 10px 20px;
    width: fit-content;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
/* end video */
/* start about us */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -120px;
    max-width: 100%;
    margin-top: -120px;
}
@media (max-width: 767px) {
    .about img {
        bottom: -90px;
        margin-top: -90px;
        
    }
}
/* end about us */
/* start stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../Image/stats.png);
    background-size: cover;
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stats .container .box p {
    font-size: 14px;
}
/* end stats */
/* start skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    } 
}
.our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: var(--color-p);
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .testimonials .box {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.our-skills .testimonials .box img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .our-skills .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .testimonials .box img {
        margin: 0 auto 20px;
    }
}
.our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
    color: var(--color-p);
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
}
.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px
}
.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    top: -40px;
    right: -20px;
    background-color: black;
    color: white;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -8px;
    top: -14px;
}
/* end skills */
/* start quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../Image/quote.jpg); 
    position: relative;
    color: white;
    text-align: center;
    background-size: cover;
}
.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}
.quote .container {
    position: relative;
}
.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* end quote */
/* start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan .head  span {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan .head  span::before {
    content: "$";
    position: relative;
    top: -40px;
    font-size: 25px;
    font-weight: normal;
    margin-right: 15px;
}
.pricing .plans .plan .head  span::after {
    content: "/Mo";
    position: relative;
    font-size: 20px;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
} 
.pricing .plans .plan .foot a {
    display: block;
    text-decoration: none;
    padding: 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 20px auto;
}
.pricing .container .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}
.pricing .container .contact-link {
    display: block;
    text-decoration: none;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
}
/* end pricing */
/* start sub */
.sub {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
    background-image: url(../Image/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.sub::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.sub .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media(max-width: 991px) {
    .sub .container {
        flex-direction: column;
    }
}
.sub .container form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.sub .container   form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.sub .container form input[type= "email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.sub .container form input[type= "submit"] {
    width: 130px;
    background-color: var(--main-color);
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    border-left: none;
}
.sub .container form input[type= "email"]:focus,
.sub .container form input[type= "submit"]:focus {
    outline: none;
}
.sub .container form ::placeholder {
    color: white;
}
.sub .container p {
    line-height: 2;
    margin-left: 50px;
}
@media(max-width: 991px) {
    .sub .container p {
        margin: 30px 0 0;
    } 
}
/* end sub */
/* start contact-us */
.contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
}
.contact-us .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact-us .content {
        flex-direction: column;
    }
}
.contact-us .content form {
    flex-basis: 70%;
}
.contact-us .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact-us .content form .main-input:focus {
    outline: none;
}
.contact-us .content form textarea.main-input {
    height: 200px;
}
.contact-us .content form input[type="submit"] {
    text-transform: uppercase;
    display: flex;
    width: fit-content;
    margin-left: auto;
    padding: 20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
.contact-us .content .text {
    flex-basis: 25%;
} 
@media (max-width: 767px) {
    .contact-us .content .text  {
        order: -1;
        text-align: center;
    }
}
.contact-us .content .text h4 {
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
} 
.contact-us .content .text .phone {
    color: var(--color-p);
    display: block;
    margin-bottom: 10px;
} 
.contact-us .content .text h4:nth-of-type(2) {
    margin-top: 90px;
} 
@media (max-width: 767px) {
    .contact-us .content .text h4:nth-of-type(2)  {
        margin-top: 30px;
    }
}
.contact-us .content .text address {
    line-height: 2;
    color: var(--color-p);
} 
@media (max-width: 767px) {
    .contact-us .content .text address  {
        margin-bottom: 30px;
    }
}
/*end contact-us */
/* start footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2); 
    background-image: url(../Image/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
    position: relative;
}
.footer .container img {
    margin-bottom: 20px;
}
.footer .container p:not(.copyright) {
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
    text-transform: uppercase;
    font-size: 22px;
}
.footer .social-icons i {
    padding: 10px 15px;
}
.footer .copyright {
    margin-top: 50px;
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */